<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="akari.jp.n5"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="N5Support"
        android:theme="@android:style/Theme.NoTitleBar"
        android:allowBackup="true" android:icon="@drawable/logo" android:label="JLPT N5">
        <activity
            android:name="akari.jp.n5.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity" >
        </activity>
        <activity
            android:name=".GrammarActivity" >
        </activity>
        <activity android:name=".KanjiActivity" >
        </activity>
        <activity android:name=".PracticeActivity" >
        </activity>
        <activity android:name=".ListeningActivity" >
        </activity>
        <activity android:name=".WordActivity" >
        </activity>
        <activity android:name=".KatakanaActivity" >
        </activity>
        <activity android:name=".ShowResultActivity" >
        </activity>
    </application>

</manifest>